force-app/main/default/flows/FACS_AffiletedFiles_to_Main.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <description>Default values for FBC</description>
        <name>FACS_StatusConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Approved&quot;</stringValue>
        </value>
    </constants>
    <constants>
        <description>FBC type for insert</description>
        <name>FACS_TypeConstrant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;FBC&quot;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>TMZ_Or_FBC</name>
        <label>TMZ_Or_FBC</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_TMZ_recort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TMZ</defaultConnectorLabel>
        <rules>
            <name>FBC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FACS_Subject__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FACS_MAIN_Create</targetReference>
            </connector>
            <label>FBC</label>
        </rules>
    </decisions>
    <description>Create Main record for FBC logs</description>
    <environments>Default</environments>
    <formulas>
        <name>FileNameToSubject</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_contentVersionRecord.Title}, &apos;_&apos;, &apos; &apos;)</expression>
    </formulas>
    <interviewLabel>FACS_AffiletedFiles_to_Main {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FACS_AffiletedFiles_to_Main</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crete TMZ record in FACS Main</description>
        <name>Create_TMZ_recort</name>
        <label>Create TMZ recort</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>InserterFACSrecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_ContentDocLinkRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>FACS_Email_type__c</field>
            <value>
                <stringValue>TMZ Log</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_File_Name__c</field>
            <value>
                <elementReference>FACS_AffiliatedFiles_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_STATUS__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_SUBJECT__c</field>
            <value>
                <elementReference>FileNameToSubject</elementReference>
            </value>
        </inputAssignments>
        <object>FACS_MAIN__c</object>
    </recordCreates>
    <recordCreates>
        <description>Attache file to the new record</description>
        <name>CreateContentDocRecord</name>
        <label>CreateContentDocRecord</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_ContentDocLinkRecord.ContentDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>InserterFACSrecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create new record for FBC from FACS_Affileated files</description>
        <name>FACS_MAIN_Create</name>
        <label>Create new record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>FACS_Affiliate_File__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_Email_type__c</field>
            <value>
                <stringValue>FBC Log</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_File_Name__c</field>
            <value>
                <elementReference>FACS_ORG_FileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_ORG_Emails__c</field>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_STATUS__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_SUBJECT__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_Schedule_Long__c</field>
            <value>
                <elementReference>FACSTextLong</elementReference>
            </value>
        </inputAssignments>
        <object>FACS_MAIN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Ger Cont Doc Link record</description>
        <name>Get_ContentDocLinkRecord</name>
        <label>Get ContentDocLinkRecord</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contentVersionRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contentVersionRecord</name>
        <label>Get contentVersionRecord</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateContentDocRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentDocLinkRecord.ContentDocument.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TMZ_Or_FBC</targetReference>
        </connector>
        <object>FACS_Affiliate_File__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>FCSA_TextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record__Prior.FACS_Schedule__c}</text>
    </textTemplates>
    <variables>
        <description>FACS Affileated Files Name</description>
        <name>FACS_AffiliatedFiles_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FACS_File_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>FBC original filename</description>
        <name>FACS_ORG_FileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FACS_File_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>FBC type for FACS_Main FBC files</description>
        <name>FACS_TypeConstant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;FBC&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>FACSTextLong</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FACS_Schedule__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>GetContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ID_Content_Doc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InserterFACSrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recipient list</description>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FACS_Recipient__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FACS_Subject__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FACS_MAIN__c</objectType>
    </variables>
</Flow>
