force-app/main/default/flows/Show_recordID_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>TMZ_only</name>
        <label>TMZ only</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Not_TMZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TMZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_FACS.FACS_Email_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TMZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TMZ_create_record</targetReference>
            </connector>
            <label>TMZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>TMZ_or_FBC</name>
        <label>TMZ_or_FBC</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_ContentDocRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TMZ Log</defaultConnectorLabel>
        <rules>
            <name>FBC_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_FACS.FACS_Email_type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FBC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_ID</targetReference>
            </connector>
            <label>FBC Log</label>
        </rules>
    </decisions>
    <description>Emails and DLs has been removed</description>
    <environments>Default</environments>
    <interviewLabel>Show recordID test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show recordID test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreteContDocRecord</name>
        <label>CreteContDocRecord</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_ContentDocRecord.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>NewRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>FBC_clone</name>
        <label>FBC clone</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>FACS_Affiliate_File__c</field>
            <value>
                <elementReference>GET_FACS.FACS_Affiliate_File__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_EmailBody__c</field>
            <value>
                <elementReference>GET_FACS.FACS_EmailBody__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_Email_type__c</field>
            <value>
                <stringValue>FBC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_File_Name__c</field>
            <value>
                <elementReference>GET_FACS.FACS_File_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_STATUS__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_SUBJECT__c</field>
            <value>
                <elementReference>GET_FACS.FACS_SUBJECT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_Schedule_Long__c</field>
            <value>
                <elementReference>GET_FACS.FACS_Schedule_Long__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_File_type__c</field>
            <value>
                <stringValue> </stringValue>
            </value>
        </inputAssignments>
        <object>FACS_MAIN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Not_TMZ</name>
        <label>Not TMZ</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>NewRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>CreteContDocRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>FACS_EmailBody__c</field>
            <value>
                <elementReference>GET_FACS.FACS_EmailBody__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_Email_type__c</field>
            <value>
                <elementReference>GET_FACS.FACS_Email_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_STATUS__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_SUBJECT__c</field>
            <value>
                <elementReference>GET_FACS.FACS_SUBJECT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_File_type__c</field>
            <value>
                <elementReference>GET_FACS.Manual_File_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>FACS_MAIN__c</object>
    </recordCreates>
    <recordCreates>
        <description>TMZ  clone with file</description>
        <name>TMZ_create_record</name>
        <label>TMZ create record</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>NewRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>CreteContDocRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>FACS_Affiliate_File__c</field>
            <value>
                <elementReference>GET_FACS.FACS_Affiliate_File__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_EmailBody__c</field>
            <value>
                <elementReference>GET_FACS.FACS_EmailBody__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_Email_type__c</field>
            <value>
                <elementReference>GET_FACS.FACS_Email_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_File_Name__c</field>
            <value>
                <elementReference>GET_FACS.FACS_File_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_STATUS__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FACS_SUBJECT__c</field>
            <value>
                <elementReference>GET_FACS.FACS_SUBJECT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_File_type__c</field>
            <value>
                <elementReference>GET_FACS.Manual_File_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>FACS_MAIN__c</object>
    </recordCreates>
    <recordLookups>
        <description>Content doc record for old TMZ</description>
        <name>Get_ContentDocRecord</name>
        <label>Get ContentDocRecord</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentVersionRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentVersionRecord</name>
        <label>Get ContentVersionRecord</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TMZ_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentDocRecord.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_FACS</name>
        <label>GET_FACS</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TMZ_or_FBC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FACS_MAIN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_ID</name>
        <label>FBC Log clone</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FBC_clone</targetReference>
        </connector>
        <fields>
            <name>Show_ID_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_ID_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_SUBJECT__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_STATUS__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_EmailBody__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_ID_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_Email_type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_File_Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GET_FACS.FACS_Schedule_Long__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TMZ_Screen</name>
        <label>TMZ Screen</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TMZ_only</targetReference>
        </connector>
        <fields>
            <name>TMZ_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TMZ_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_SUBJECT__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_STATUS__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TMZ_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_File_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GET_FACS.FACS_EmailBody__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GET_FACS.Manual_File_type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>GET_FACS.FACS_Email_type__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_FACS</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>MainRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FACS_MAIN__c</objectType>
    </variables>
    <variables>
        <description>record ID after TMZ create record</description>
        <name>NewRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Full record from Main</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FACS_MAIN__c</objectType>
    </variables>
</Flow>
